.groupListItem{ margin:2px; padding:3px; background:#f3f3f3; font-size:12px; cursor:pointer; border:1px solid #e9e9e9;}
.groupListItem_disabled{ margin:2px; padding:3px; color:#cecece; background:#fefefe; font-size:12px; border:1px solid #e9e9e9;}
.groupListItem:hover{ background:#e1e1e1;}
.groupListItem.selected{ background:#21759B; color:#FFFFFF;}
#userList{ height:300px; overflow:scroll;}
.boxTitle{ text-align:center; margin:0; margin-bottom:5px; border-bottom:1px solid #999999;}




#usersAndGroupsBox_1{ width:400px; min-height:300px; border:1px solid #CCCCCC;}
#tabButtonBox{}
#tabButtonBox ul{margin:0px; padding:0px; list-style-type:none;}
#tabButtonBox ul li{ list-style-type:none; float:left; border:1px solid #CCCCCC; font-weight:bold; text-align:center; padding:5px; margin:3 auto;cursor:pointer;  }
#tabButtonBox ul li.selected{ background:#21759B; color:#FFFFFF}
#usersAndGroupsBox .tabContent{display:none;}

.groupListItemForTab .showHideMembersButton{color:#5A7E8F; text-decoration:underline; cursor:pointer;}
.membersListInTab ul{color:#bbbbbb; padding-left:50px; text-decoration:none; list-style-type:disc;}
.membersListInTab ul{color:#bbbbbb; text-decoration:none;}